<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>Christian Heilmann on the web </title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <style type="text/css" media="screen">
		html,body{background:#369;color:#fff;}
		#doc2{border:1em solid #fff;background:#fff; color:#000;font-family:calibri,helvetica,sans-serif;-moz-border-radius:5px;-webkit-border-radius:5px}
		li{padding:.2em 0;line-height:1.3em}
		a:link{color:#369;}
		a:visited{color:#666;}
		a:hover,a:active{color:#69c;}
		h1{font-size:200%;font-weight:bold;padding:.2em 0;}
		h2{margin:.5em 0;font-size:150%;background:#69c;padding:.2em;-moz-border-radius:5px;color:#fff;font-weight:bold;-moz-box-shadow: 0px 4px 2px -2px #333;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow: #333 1px 1px;}
		#flickr li{float:left;}
		#flickr img,#youtube img{display:block;padding:2px;border:1px solid #ccc;margin:2px;}
		#flickr{overflow:auto;}
		#ft p{border-top:1px solid #999;margin-top:2em;padding:.5em;}
  </style>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

</head>
<body>
<div id="doc2" class="yui-t7">
  <div id="hd" role="banner"><h1>Christian Heilmann on the web</h1></div>
  <div id="bd" role="main">
	<%= yield %>
  </div>
  <div id="ft" role="contentinfo"><p>Written by <a href="http://wait-till-i.com">Chris Heilmann</a>, forked for Ruby by <a href="http://captproton.com">Capt. Proton</a>, powered by <a href="http://developer.yahoo.com/yql">YQL</a> and <a href="http://developer.yahoo.com/yui">YUI</a>.</p></div>
</div>
</body>
</html>